/*The CSS for Oriental Style*/


/*The Whole Layout*/
html {
    background:#ffebcd url(./paper.png) repeat;
    color:#222222;
    text-align:center;
    font-size:16px;
    font-family: 'Liberation Sans', Verdana;
    }
.whole {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    font-size:0.9em;
    line-height:1.5em;
    }
@media only screen and (min-width: 1024px) {
   .whole {
      width:980px;
    }
}
div {
    position:relative;
   }


/*Attributes of Fonts and Paragraphs*/
.name {
   font-family: 'Liberation Sans', Arial;
   font-size:0.75em;
   line-height:1.875em;
   font-weight:bold;
   padding-left:0.9375em;
   color:orange;
   background:url(./list2.png) no-repeat;
   display:block;
   }
.fontbold {
   font-weight:bold;
   }
.fontitalic {
   font-weight:bold;
   font-style:italic;
   }
.normallineheight {
   line-height:1.125em;
   }
p {
   text-indent:1.5625em;
   text-align:justify;
   }
.alignright {
   text-align:right;
   }
.aligncenter {
   text-align:center;
   }
h1 {
   font-family: 'Liberation Serif', 'Times New Roman';
   font-size:1.5625em;
   font-weight:bold;
   }
h1.italic {
   font-family: 'Liberation Serif', 'Times New Roman';
   font-size:1.5625em;
   font-weight:bold;
   font-style:italic;
   }
h2 {
   font-family: 'Liberation Serif', 'Times New Roman';
   font-size:1.25em;
   font-weight:bold;
   }
h2.italic {
   font-family: 'Liberation Serif', 'Times New Roman';
   font-size:1.25em;
   font-weight:bold;
   font-style:italic;
   }
ul.return {
   margin-top:-0.375em;
   margin-left:0.75em;
   list-style:square;
   font-size:0.8em;
   font-style:italic;
   }

/*Attributes of Hyperlinks*/

/*Hyperlinks for Pictures*/
a.title:link,a.title:visited,a.title:hover,a.title:active {
   color:#a5a552;
   background:#ffebcd url(./paper.png) repeat;
   text-decoration:none;
   font-weight:bold;
   }

/*Hyperlinks for Navigation*/
ul.list {
   list-style-type:none;
   margin:0em;
   padding:0em;
   }
a.name:link, a.name:visited, a.name:hover {
   height: 3.3em;
   font-family: 'Liberation Sans', Arial;
   font-size:0.75em;
   line-height:3.2em;
   font-weight:bold;
   padding-left:1.6em;
   text-decoration:none;
   color:orange;
   background:url(./list2.png) no-repeat;
   display:block;
   }
a.list {
   height: 3.3em;
   font-family: 'Liberation Sans', Arial;
   font-size:0.75em;
   font-weight:bold;
   line-height:3.2em;
   padding-left:1.6em;
   text-decoration:none;
   display:block;
   }
a.list:link, a.list:visited {
   color:#ccff33;
   font-family: 'Liberation Sans', Arial;
   font-weight:bold;
   background:url(./list1.png) no-repeat;
   }
a.list:hover {
   background-color:#a5a552;
   font-family: 'Liberation Sans', Arial;
   font-weight:bold;
   background:url(./list2.png) no-repeat;
   }

/*General Hyperlinks*/
a:link {
   font-family: 'Liberation Sans', Arial;
   color:#555555;
   font-weight:bold;
   }
a:visited {
   color:#555555;
   font-family: 'Liberation Sans', Arial;
   font-weight:normal;
   }
a:hover {
   background-color:orange;
   font-family: 'Liberation Sans', Arial;
   font-weight:bold;
   }
a:active {
   color:red;
   font-family: 'Liberation Sans', Arial;
   font-weight:bold;
   }

/*Attributes of Pictures*/
img {
   border:none;
   max-width: 100%;
   }
img.resized {
   max-width: 100%;
   }
@media only screen and (min-width: 1024px) {
   img.resized {
      width: 500px;
   }
}
.imgleft {
   float:left;
   border:none;
   padding: 0.3125em 0.5em 0.3125em 0.5em;
   }
.imgright {
   float:right;
   border:none;
   padding: 0.3125em 0em 0.3125em 0.5em;
   }


/*Attributes of Main Logo*/
div.title {
   float:left;
   left:0em;
   width:100%;
   height:6.25em;
   }
@media only screen and (min-width: 1024px) {
   div.title {
      width:31%;
   }
}


/*Banners*/
.banner {
   float:right;
   right:0em;
   width:100%;
   height:0em;
   }
@media only screen and (min-width: 1024px) {
   .banner {
      width:69%;
   }
}


/*The Long Line*/
.line {
   float:left;
   top:0.0625em;
   width:100%;
   height:0.625em;
   background:url(./line.png) no-repeat;
   }


/*Layout of Navigation*/

/*The Left Navigation*/
div.list {
   overflow: auto;
   float:left;
   top:0.3125em;
   width:100%;
   height: 10.6em;
   font-size:0.9em;
   text-align:left;
   }
@media only screen and (min-width: 1024px) {
   div.list {
      width: 21%;
      height: 33.5em;
   }
}
.list1 {
   padding:0.3125em;
   }
.list2 {
   top:0.3125em;
   padding:0.3125em;
   }
.list3 {
   top:0.625em;
   padding:0.3125em;
   }
.list4 {
   top:0.9375em;
   padding:0.3125em;
   }
.list5 {
   top:1.25em;
   padding:0.3125em;
   }


/*Layout of Lists and Articles*/

/*Layout of the right of general pages when the navigation is in the left*/
.section {
   float:left;
   top:0.3125em;
   width:100%;
   text-align:left;
   }
@media only screen and (min-width: 1024px) {
   .section {
      width:79%;
   }
}
.sectionline {
   height:0.625em;
   background:url(./sectionline.png) no-repeat;
   }

/*A List of Articles*/
.sectionlist {
   padding:0.625em;
   line-height:1.85em;
   }

/*An Article*/
.sectioncontent {
   padding:0.625em;
   }

.textcenter {
   text-align: center;
   }

.imgcenter {
   text-align: center;
}


/*Layout of the Middle in the Front Page*/
.allcontent {
   float:left;
   top:0.3125em;
   width:100%;
   text-align:left;
   }
@media only screen and (min-width: 1024px) {
   .allcontent {
      width:40%;
   }
}
.contentline1 {
   height:0.625em;
   background:url(./contentline.png) no-repeat;
   }
.content1 {
   padding:0.625em;
   }
.contentline2 {
   height:0.625em;
   background:url(./contentline.png) no-repeat;
   }
.content2 {
   padding:0.625em;
   }


/*Layout of the Right*/
.allright {
   float:left;
   top:0.3125em;
   width:100%;
   text-align:left;
   }
@media only screen and (min-width: 1024px) {
   .allright {
      width:39%;
   }
}

/*Layout of Foot*/
.foot {
   float:left;
   top:2.5em;
   width:100%;
   text-align:center;
   }
